@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f8f8f8;
}

div{
    height: 60px;
    background-color: #acacac;
    border: 1px solid black;
    color: white;
}

.relative{
    position: relative;
    background-color: maroon;
}

.relative:hover{
    border: 2px solid rgba(255, 255, 255, 0.89);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .5s, border 1s;
}